# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# Data files 
*.xlsx

# Model files
*.pkl
*.joblib

# Logs
*.log

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db